body {
    background-color: #1c3551
}

.player {
    outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

#canvas {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#h1 {
    color: white;
    text-align: center;
}

#main {
    outline-color: white;
    color: white;
}

.container {
    outline: 2px solid white;
    width: 50%;
    margin: auto;
    border: white;
}


